<!DOCTYPE html>
<html>
  <head>
  <title>
  </title>
  </head>

  <body>
    <header>
  
    </header>
    <p>
      <%= user.journal.title %>
    </p>
    <p>
      <%= user.journal.blog_contents
    </p>

  </body>

  <footer>

  </footer>
</html>
