<!DOCTYPE html>
<html>
<h1>this is the user show page</h1>
<div>
  <p>
    <%= @user.name %>
  </p>
</div>
<div>
  <p>
    <%= @user.email %>
  </p>
</div>


<p>
this is where the users blogs will be displayed 
</p>
</html>