<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/assets/stylesheets/static_pages.css.scss"/>
</head>
<div class="welcome">
  <h1>Welcome <%= @user.name %></h1>
  <p>User Information</p>
  <div>
      <%= @user.name %>
  </div>
  <div>
    <p>
      <%= @user.email %>
    </p>
  </div>
</div>
</html>