<!DOCTYPE html>
<html>
<div class="welcome">
  <h1>Welcome <%= @user.name %></h1>
  <p>User Information</p>
  <div>
      <%= @user.name %>
  </div>
  <div>
    <p>
      <%= @user.email %>
    </p>
  </div>
</div>
</html>