<!DOCTYPE html>
<head>

</head>
<body>
<h1 class="welcome"><%= @user %>'s Blogs</h1>

<p>
<% @journals.each do |j| %> 
<div class="panel panel-primary" id="align_center">
  <div class="panel-heading">
    <h3 class="panel-title"><%= j.name %></h3>
  </div>
  <div class="panel-body">
    <%= j.blog_contents %>
  </div>
</div>
<% end %>
</p>
</body>
<footer>
</footer>
</html>