<!DOCTYPE html>
<html lang="en"><head>

    <title>Blog's</title>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/stylesheets/session.css.scss">

  </head>
  <body>
    <h1>THis is the show page</h1>

    <pre> <%= @movie.keys %> </pre>

    <p>
      <%= @movie["movies"][0]["title"] %>
      <%= image_tag @movie["movies"][0]["posters"]["profile"] %>
    </p>

      <footer>
      </footer>
</body></html>