<!DOCTYPE html>
<html lang="en"><head>

    <title>Blog's</title>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/stylesheets/session.css.scss">

  </head>
  <body>
    <h1>THis is the show page</h1>

<p>
<%= @journal.title %> 

<%= @journal.blog_contents %>
</p>


      <footer>
      </footer>
</body></html>