<!DOCTYPE html>
<html lang="en"><head>

    <title>Blogs</title>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/stylesheets/session.css.scss">

  </head>
  <body>
    <h1>THis is the show page</h1>

    <pre> <%= @movie.keys %> </pre>

    <p>
    
    </p>

      <footer>
      </footer>
</body></html>