<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://gmpg.org/xfn/11" rel="profile">

    <title>Bootstrap Blog</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS for Official Bootstrap Blog" href="/feed.xml">

    <!-- Analytics -->
   
  </head>
  <body data-twttr-rendered="true">

    <div class="masthead">
      <div class="container">
        <a class="bs-docs-booticon" href="/">B</a>
        <h1>The Official Bootstrap Blog</h1>
        <p>
          Announcements, discussions, and more for <a href="http://getbootstrap.com" title="Visit the Bootstrap docs">Bootstrap</a>.
        </p>
      </div>
    </div>

    <div class="container">
<div class="posts">
  
  <div class="post">
    <h1 class="post-title">
      <a href="/2014/10/13/rorschach/">
        Introducing Rorschach
      </a>
    </h1>

    <span class="post-date">13 Oct 2014</span>

    
<div class="tweet-button">
  <iframe style="width: 138px; height: 28px;" data-twttr-rendered="true" title="Twitter Tweet Button" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" src="http://platform.twitter.com/widgets/tweet_button.378d258ae34e4697b1163b509c82f85f.en.html#_=1414442902456&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fblog.getbootstrap.com%2F&amp;size=l&amp;text=Introducing%20Rorschach%3A&amp;url=http%3A%2F%2Fblog.getbootstrap.com%2F2014%2F10%2F13%2Frorschach%2F&amp;via=twbootstrap" allowtransparency="true" scrolling="no" id="twitter-widget-0" frameborder="0"></iframe>
</div>

<p style="align: center; margin: 100px">Bootstrap receives tons of awesome pull requests every week. Many of them come from folks new to contributing to the project. As such, there are a few beginner mistakes we’ve noticed over time.
So, we made <a href="https://github.com/twbs/rorschach">Rorschach</a>, a bot that runs a few quick checks on every new pull request.
Rorschach automatically gives instant feedback on Bootstrap pull requests that suffer from one of <a href="https://github.com/twbs/rorschach#checks-performed">several simple mistakes</a>, thus decreasing turnaround time on fixing the pull request. The bot refers the contributor to <a href="https://github.com/twbs/rorschach/tree/master/docs">new documentation</a> we’ve written to explain each of the mistakes in detail, along with how to correct them, thus decreasing friction for contributors.
Previously, these mistakes were checked for manually, which meant there was often a delay before the mistake was noticed and that pull request reviewers had to manually explain the mistake to the contributor each time. With Rorschach, everyone should have a smoother experience working on Bootstrap.

Happy pull requesting! <br>

&lt;3,<br>
<a href="https://github.com/cvrebert">@cvrebert</a> and <a href="https://github.com/twbs">team</a></p>


      <footer class="colophon">
          <li>
            <iframe style="width: 109px; height: 20px;" data-twttr-rendered="true" title="Twitter Tweet Button" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" src="http://platform.twitter.com/widgets/tweet_button.378d258ae34e4697b1163b509c82f85f.en.html#_=1414442902460&amp;count=horizontal&amp;id=twitter-widget-5&amp;lang=en&amp;original_referer=http%3A%2F%2Fblog.getbootstrap.com%2F&amp;related=mdo%3ACreator%20of%20Twitter%20Bootstrap&amp;size=m&amp;text=Bootstrap%20Blog&amp;url=http%3A%2F%2Ftwbs.github.com%2Fbootstrap%2F&amp;via=twbootstrap" allowtransparency="true" scrolling="no" id="twitter-widget-5" frameborder="0"></iframe>
          </li>
        </ul>
      </footer>

    </div> <!-- /close container -->

    <script src="//platform.twitter.com/widgets.js"></script>
</body></html>