<!DOCTYPE html>
<html><head>

    <title>Blogs</title>

    <!-- CSS -->
     <link rel="stylesheet" type="text/css" href="/assets/stylesheets/session.css.scss"/>

  </head>
  <body>
    <h1>THis is the show page</h1>

    <p>
    
    </p>

      <footer>
      </footer>
</body></html>